.footer_body {
    background: #EEEFFB;
    width: 100%;
    height: 479px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}


.center_ctn{
    display: flex;
    gap: 50px;
}

h3 {
    font-size: 38px;
    width: 110px;
    height: 38px;
    color: #000000;
}

.input_ctn {
    display: flex;
    width: 377px;
    height: 44px;
    border-radius: 3px;
    color: white;
}

.text_input {
    color: black;
    border: none;
    outline: none;
    opacity: 45%;
}

.submit_btn {
    width: 135px;
    height: 45px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    border: none;
    cursor: pointer;
    background: #FB2E86;
}

.contact_text, .contact_address {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: #8A8FB9;
}

h5 {
    font-size: 22px;
    line-height: 25.78px;
    color: #000000;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding-bottom: 20px;

}

ul li a {
    text-decoration: none;
    color: #8A8FB9;
    font-size: 16px;
    font-weight: 400;
    
}

.footer_sections {
    display: flex;
    flex-direction: column;
}

.btm_footer {
    height: 53px;
}

.btm_footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #9DA0AE;
    font-size: 16px;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding-right: 52px;
    width: 80px;
    height: 19.42px;
}



.btm_footer {
    width: 100%;
}

.btm_ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 75%;
}

.logos {
    display: flex;
    gap:5px;
}

.logo_ctn {
    color: white;
}
