.card-ctn {
  width: 270px;
  height: 350px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-radius: 5px;
  box-shadow: rgba(49, 32, 138, 0.05);
  padding-bottom: 15px;
}

.image-ctn {
  width: 247px;
  height: 244px;
  background: rgba(245, 246, 248, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.image-ctn img {
  width: 171px;
  height: 171px;
}

.btm-trend {
  height: 60px;
}

.title {
  color: rgba(21, 24, 117, 1);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.newprice {
  color: rgba(21, 24, 117, 1);
  font-size: 14px;
  font-weight: 400px;
  margin-top: 0;
}

.oldprice {
  color: rgba(21, 24, 117, 0.3);
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  padding-bottom: 4px;

}

.price-sect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-ctn span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
