h2 {
    color: #1A0B5B;
    text-align: center;
    font-size: 42px;
    line-height: 49.22px;
    width: 367px;
    height: 42px;
    text-align: center;
}

.feat_sect {
    background: white;
    width: 100%;
}

.cards_ctn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 270px;
    height: 361px;
    background-color: #F2F0FF;
}

img {
    width: 178px;
    height: 178px;
}

.icon {
    width: 30px;
    height: 30px;
}